# Composable variables for postgresql
# POSTGRES_VERSION=18
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=postgres
# PGDATA=/var/lib/postgresql/data
# POSTGRES_PORT=5432

# Composable variables for valkey
# VALKEY_VERSION=9
# VALKEY_PORT=6379

# Composable variables for chromadb
# CHROMA_VERSION=1.5.8
# CHROMA_PORT=8000
# CHROMA_PERSIST_DIRECTORY=/chroma/chroma
# CHROMA_TELEMETRY=FALSE
