# Global Settings
LOG_LEVEL = debug

# Model Settings
DRAFT_MODEL = "qwen3.5:9b"
DRAFT_MODEL_CONTEXT_SIZE = "65536"
DRAFT_MODE_CONTEXT_RESERVE_PERCENTAGE = "50"
REVIEW_MODEL = "hermes3:8b"
REVIEW_MODEL_CONTEXT_SIZE = "65536"
REVIEW_MODEL_CONTEXT_RESERVE_PERCENTAGE = "25"

# Postgres Settings
PG_USER = postgres
PG_PASSWORD = postgres
PG_DB = postgres
PG_HOST = localhost
PG_PORT = 5432

### Compose Specific Settings
# Ollama Settings
OLLAMA_FLASH_ATTENTION=1
OLLAMA_KV_CACHE_TYPE=q8_0
