WAYGATE_CORE__STORAGE_PLUGIN_NAME = "local-storage"
WAYGATE_CORE__PG_HOST = "localhost"
WAYGATE_CORE__PG_USER = "postgres"
WAYGATE_CORE__PG_PASSWORD = "postgres"
WAYGATE_CORE__PG_DB = "postgres"
WAYGATE_CORE__REDIS_DSN = "redis://localhost:6379/0"
WAYGATE_CORE__LLM_PLUGIN_NAME = "OllamaProvider"
WAYGATE_CORE__COMMUNICATION_PLUGIN_NAME = "communication-rq"
