<source_document uri='{{ doc_uri }}'>
<source_document.document_context>
{{ document_context }}
</source_document.document_context>
<source_document.raw_content>
{{ content }}
</source_document.raw_content>
</source_document>
